{% extends "../base.html" %}
{% load static %}

{% block title %}Historique des Mesures{% endblock %}

{% block content %}
<h2 class="text-center my-4 text-primary fw-bold">📊 Historique des Mesures Météo</h2>
<!-- Optionnel : bouton pour exporter en CSV -->
<div class="text-end mt-3 me-3">
    <a href="" class="btn btn-primary">
        <i class="fa-solid fa-file-csv"></i> Exporter CSV
    </a>
      <a href="" class="btn btn-primary">
        <i class="fa-solid fa-file-pdf"></i> Exporter PDF
    </a>

</div>
<div class="table-responsive shadow-sm rounded-4 p-3" style="background: #f8fafc;">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-primary text-center">
            <tr>
                <th>Timestamp</th>
                <th>Température (°C)</th>
                <th>Humidité (%)</th>
                <th>Pression (hPa)</th>
                <th>Condition</th>
                <th>Vent (m/s)</th>
                <th>Dir Vent (°)</th>
                <th>Pluie (mm)</th>
                <th>UV</th>
                <th>Visibilité (km)</th>
                <th>Nuages (%)</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for m in metrics %}
            <tr>
                <td>{{ m.timestamp }}</td>
                <td>{{ m.temperature }}</td>
                <td>{{ m.humidity }}</td>
                <td>{{ m.pressure }}</td>
                <td>{{ m.condition }}</td>
                <td>{{ m.wind_speed }}</td>
                <td>{{ m.wind_direction }}</td>
                <td>{{ m.rainfall }}</td>
                <td>{{ m.uv_index }}</td>
                <td>{{ m.visibility }}</td>
                <td>{{ m.cloud_cover }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="11" class="text-center fw-semibold">Aucune donnée disponible.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
